#title, #description {
  text-align: center;
  background-color: #dd2020;
  font-family: Verdena, sans-serif;
  padding: 15px;
  width: 30%;
  margin: auto;
  border-radius: 50px;
}
#survey-form {
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    list-style-position: inside;
    margin: auto;
    width: 50%;
    font-family: Verdena, sans-serif;
}
#dropdown, #name, #email, #number, textarea {
  width: 100%
}
label {
  line-height: 2em;
}
#button{
  text-align: center;
}
#submit{
  background-color: #dd2020;
  border: none;
  padding: 15px;
  cursor: pointer;
}
body{
  background-color: #a5a2a2;
}
#disclaimer{
  text-align: center;
}